<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CharmedPointer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CharmedPointer.Properties.Settings>
            <setting name="SettingsVersion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UseNotifyIcon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowFormOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VelocityThresholdToShow" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="VelocityThresholdToHide" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DurationToHide" serializeAs="String">
                <value>2</value>
            </setting>
        </CharmedPointer.Properties.Settings>
    </userSettings>
</configuration>